

/************     Universal utilities     ************/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

img {
  width: 100%;
}


#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 1000;
}

#loader img {
    width: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

/************    top nav bar + logo    ************/

.top-nav{
  position: fixed;
  width: 100%;
  background-color: black;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo{
  max-width: 100px;
}

.main-navigation{
  display: flex;
}

.main-navigation li {
  padding-left: 10px;
}
.main-navigation li a {
  color: #fefefe;
  font-style: oblique;
}

.main-navigation li a:hover {
  color: #DA1C5C;
  font-style: oblique;
}

#hamburger {
  display: none;
  color: lightgrey;
}


/************    content + hero image/text    ************/


.hero-img-container {
  background-image: url(images/hero.jpg);
  background-color: black;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

main {
  max-width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-heading {
  font-size: 5em;
  margin-top: 15vh;
  line-height: 0.9;
  padding-right: 50px;
  padding-bottom: 20px;
}

.sub-heading {
  border-left: 5px solid #0C0C0C;
  font-size: 1.4em;
  padding-right: 230px;
  padding-left: 10px;
  line-height: 1.6;
  text-shadow: 2px 2px 10px #ffffff;
}

.about-banner {
  background-image: url(images/aboutBanner.jpg);
  background-color: #DA1C5C;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin: 100px 0;
}

footer {
  background-color: #414042;
  padding: 200px 0;
  text-align: center;
}


/************    column utilities    ************/


.col {
  float: left;
  padding: 15px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width: 1200px) {

  .col-1-m {width: 8.33%;}
  .col-2-m {width: 16.66%;}
  .col-3-m {width: 25%;}
  .col-4-m {width: 33.33%;}
  .col-5-m {width: 41.66%;}
  .col-6-m {width: 50%;}
  .col-7-m {width: 58.33%;}
  .col-8-m {width: 66.66%;}
  .col-9-m {width: 75%;}
  .col-10-m {width: 83.33%;}
  .col-11-m {width: 91.66%;}
  .col-12-m {width: 100%;}

  .hero-img-container {
    background-image: url(images/hero.jpg);
    background-color: black;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .main-heading {
    font-size: 5em;
    margin-top: 15vh;
    line-height: 0.9;
    padding-right: 50px;
    padding-bottom: 20px;
  }

  .sub-heading {
    border-left: 5px solid #0C0C0C;
    font-size: 1.4em;
    padding-right: 230px;
    padding-left: 10px;
    line-height: 1.6;
  }
}


@media (max-width: 700px) {
  .col-1-s {width: 8.33%;}
  .col-2-s {width: 16.66%;}
  .col-3-s {width: 25%;}
  .col-4-s {width: 33.33%;}
  .col-5-s {width: 41.66%;}
  .col-6-s {width: 50%;}
  .col-7-s {width: 58.33%;}
  .col-8-s {width: 66.66%;}
  .col-9-s {width: 75%;}
  .col-10-s {width: 83.33%;}
  .col-11-s {width: 91.66%;}
  .col-12-s {width: 100%;}

  #hamburger{
    cursor: pointer;
    display: block;
  }

  .main-navigation{
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }

  .navOpen{
    display: flex;
  }
}


.flex-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box{
  background-color: red;
  margin: 10px 10px;
  height: 100px;
  /* min-width: 100px; */

}

.box2{
    flex: 1;
}

.box2{
    flex: 2;
}

.box10{
  /* flex: 10;
  max-width: 83.33%; */
  /* flex: 0 0 auto; */
  width: 83.33%;
}
